<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <div class="row flex">
            <div class="column width-5">
                <div class="widget">
                    <h4 class="widget-title"><a href="/"><img src="/images/assets/logos/moanabg-black.png"
                        alt="Moana Energy Logo" style="width: 200px;"/></a></h4>
                </div>
                <div>
                    <div class="widget">
                        <h4 class="widget-title">Contactez-nous</h4>
                        <p class="no-margin-bottom">
                            <span style="color:#666">6 rue d'Armaillé, 75017, Paris</span>
                        </p>
                        <p class="no-margin-bottom">
                            <a href="mailto:contact@moanaenergy.com">contact@moanaenergy.com</a>
                        </p>
                        <p class="no-margin-bottom">
                            <a href="tel:+33699550595">06 99 55 05 95</a>
                        </p>
                    </div>
                </div>
            </div>
            <% if (session.user) { %>
            <div class="column width-3 offset-1">
                <div class="widget">
                    <ul>
                        <li>
                            <a href="/">Accueil</a>
                        </li>
                        <li>
                            <a href="/ajouter-client">Ajouter un client</a>
                        </li>
                        <li>
                            <a href="/clients">Voir les clients</a>
                        </li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="column width-12">
                <p class="copyright pull-left">
                    &copy; Made by <a href="https://www.h2h.dev">H2H agency</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->