
<div class="content clearfix">
    <div class="intro-title-dark-bg">
        <div class="row">
            <div class="column width-10 offset-1 center">
                <div class="title-container">
                    <div class="title-container-inner color-white">
                        <h1 class="title-large mb-30">Ajouter une tâche</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-block">
        <div class="row">
            <div class="column width-12">
                <% if (typeof success !== 'undefined') { %>
                    <% if (success === true) { %>
                        <div class="toastBox alertingGreen">
                            <%= message %>
                        </div>
                    <% } else if(success === false) { %>
                        <div class="toastBox alertingRed">
                            Erreur lors de l'action : <%= message %>
                        </div>
                    <% } %>
                <% } %>
                <form action="/dashboard/add-task" method="post">
                    <div>
                        <label for="title">Titre :</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div>
                        <label for="dueDate">Échéance :</label>
                        <input type="date" id="dueDate" name="dueDate" required>
                    </div>
                    <div>
                        <label for="priority">Priorité :</label>
                        <select id="priority" name="priority" required>
                            <option value="low">Basse</option>
                            <option value="medium">Moyenne</option>
                            <option value="high">Haute</option>
                        </select>
                    </div>
                    <button type="submit" class="cta-button">Ajouter</button>
                </form>
            </div>
        </div>
    </section>
</div>