<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Erreur</li>
    </ol>
</nav>

<style>
    .uniform-button, .uniform-link {
        height: 50px; /* Définir la hauteur souhaitée */
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
