
<div class="content clearfix">
    <div class="intro-title-dark-bg">
        <div class="row">
            <div class="column width-10 offset-1 center">
                <div class="title-container">
                    <div class="title-container-inner color-white">
                        <h1 class="title-large mb-30">Mot de passe oublié</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-block">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mot de passe oublié</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="column width-12">
                <% if (typeof success !== 'undefined') { %>
                    <% if (success === true) { %>
                        <div class="toastBox alertingGreen">
                            <%= message %>
                        </div>
                    <% } else if(success === false) { %>
                        <div class="toastBox alertingRed">
                            Erreur lors de l'action : <%= message %>
                        </div>
                    <% } %>
                <% } %>
                <form action="/auth/forgot-password" method="post">
                    <div>
                        <label for="email">Email :</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <button type="submit" class="cta-button">Envoyer l'email de réinitialisation</button>
                </form>
            </div>
        </div>
    </section>
</div>