<!-- Content -->
<div class="content clearfix">

    <!-- CRM Dashboard Section -->
    <section class="section-block featured-media window-height tm-slider-parallax-container">
        <div class="tm-slider-container full-width-slider" data-featured-slider data-parallax
            data-parallax-fade-out data-animation="slide" data-speed="500" data-scale-under="960">
            <ul class="tms-slides">
                <li class="tms-slide" data-image data-as-bkg-image data-force-fit
                    data-overlay-bkg-color="#15130f" data-overlay-bkg-opacity="0.3"
                    data-animation="slideTopBottom">
                    <div class="tms-content">
                        <div class="tms-content-inner center left-on-mobile v-align-middle"> 
                            <div class="row">
                                <div class="column width-12"> 
                                    <h1 class="color-white text-uppercase lspacing-small weight-bold no-margin-bottom">
                                        <span class="tms-caption" data-animate-in="preset:slideInLeftShort;duration:400ms;delay:100;" data-no-scale>
                                            <img src="images/assets/logos/moanabg-white.png" alt="Moana Energy Logo" style="width: 400px;"/>
                                        </span>
                                    </h1> 
                                    <div class="clear"></div>
                                    <p class="tms-caption color-white text-xlarge weight-light" data-no-scale>Bienvenue <%= prenom %></p><br/>
                                    <p class="tms-caption color-white text-xlarge weight-light" data-no-scale>Gérez vos clients et projets efficacement</p>
                                </div>
                                <div class="column width-12" data-no-scale data-animate-in="preset:flipInY;duration:500ms;delay:650ms;" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                                    <a href="/dashboard" class="cta-button uniform-link" style="margin-bottom:5px;width:250px;">Mon dashboard</a>
                                    <a href="/clients" class="cta-button uniform-link secondary-btn" style="width:250px;">Voir mes clients</a>
                                </div> 
                            </div>
                        </div>
                    </div> 
                    <img data-src="images/assets/imagebg.jpg" data-retina src="images/blank.png" alt="" loading="lazy"/>
                </li>
            </ul>
        </div>
    </section>
    <!-- CRM Dashboard Section End -->

</div>
<!-- Content End -->
</div>
</div>

