<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<title>Moana Energy</title>
	<meta name="description" content="Spécialistes de la transition énergétique.">
	<link rel="shortcut icon" type="image/x-icon" href="/images/assets/logos/moana-32x32.png">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CRoboto:300,400,500,700'
		rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css"/>
	<link rel="stylesheet" href="/css/core.min.css" />
	<link rel="stylesheet" href="/css/skin.css" />
	<link rel="stylesheet" href="/css/skin-design-agency.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!-- <meta name="google-site-verification" content="sGAmBEkTDlXr36PUJ7kYr22H4QgqxTYjGYV93VEgjoM" /> -->
</head>

  <body style="overflow-x: hidden !important">
    <!-- nav -->
    <%- include partials/header.ejs %>
    <!-- end nav -->
    <%- body %>
    <!--footer -->
     <%- include partials/footer.ejs %>
    <!--footer end -->
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/timber.master.min.js"></script>
	<script src="js/chatbot.js"></script>

  </body>
</html>
