<div class="content clearfix">
    <div class="intro-title-dark-bg">
        <div class="row">
            <div class="column width-10 offset-1 center">
                <div class="title-container">
                    <div class="title-container-inner color-white">
                        <h1 class="title-large mb-30">Connexion</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-block">
        <div class="row">
            <div class="column width-12">

    <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
      <form action="/auth/login" method="post">
        <div>
          <label for="email">Email :</label>
          <input type="text" id="email" name="email" required>
        </div>
        <div>
          <label for="password">Mot de passe :</label>
          <input type="password" id="password" name="password" required>
        </div>
        <a class="cta-button" type="submit">Se connecter</a>
      </form>
            </div>
        </div>
    </section>
</div>

